@charset "UTF-8";
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 80%;
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 350px;
}

.story #characters .other-characters figure {
  width: 100%;
  padding: 0;
}

.swiper-slide-shadow-right {
  background-image: nonE;
}

.swiper-slide-shadow-left {
  background-image: none;
}

/* section oscars */
.oscars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  animation: fade-left 4s ease-in forwards;
  opacity: 0;
}
@keyframes fade-left {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.oscars .txt-oscars {
  background-image: url("../images_koukaki/orange_characters_bg.png");
  background-size: 110%;
}
@media screen and (max-width: 700px) {
  .oscars .txt-oscars {
    font-size: 15px;
    background-size: 130%;
  }
}

.title-span2,
.title-span1 {
  display: inline-block;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 5s ease;
}
.title-span2.visible,
.title-span1.visible {
  transition-delay: 2s;
  animation: fadeY 3s forwards;
}

.title-span3 {
  display: inline-block;
  /*Rend la classe invisible avec une opacité de 0 */
  opacity: 0;
  /* Déplacer le titre vers le bas de 100 pixels */
  transform: translateY(100px);
  /* Applique une transition de 1s pour l'opacité et de 5s pour le déplacement */
  transition: opacity 1s ease, transform 5s ease;
  /* Ajouter la classe "visible" lorsque le titre apparaît */
}
.title-span3.visible {
  transition-delay: 4s;
  /* Applique une animation"fadeY" qui déplace les éléments de manière fluide vers leur position d'origine en 6s */
  animation: fadeY 6s forwards;
}
@keyframes fadeY {
  from {
    /* rend le titre transparent et le déplace vers le bas de 100px au début de l'animation*/
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    /* Rend le titre opaque et reprend  sa position d'origine*/
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 470px) {
  .title-anime2 {
    background-size: 140%;
  }
}
.containerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.containerNav a {
  text-align: center;
  font-size: 25px;
}
@media screen and (max-width: 640px) {
  .containerNav a {
    display: none;
  }
}
.containerNav .burgerMenu {
  width: 50px;
  right: 60px;
  top: 30px;
  position: absolute;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .containerNav .burgerMenu {
    position: static;
  }
}
.containerNav .burgerMenu .line {
  width: 100%;
  height: 1.5px;
  margin-bottom: 5px;
  transition: all 0.3s linear;
}

.burgerMenu.active span.l2 {
  opacity: 0;
}
.burgerMenu.active span.l1 {
  transform: rotate(45deg) translate(6px, 3px);
}
.burgerMenu.active span.l3 {
  transform: rotate(-45deg) translate(6px, -3px);
}

.menu-full {
  display: none; /* menu caché par défaut */
  text-align: center;
  padding-top: 25px;
  background: #FFF5E9;
  height: 100vh;
  overflow: hidden;
}
.menu-full.active {
  /* Le menu devient visible lorsqu'il a la classe .active */
  display: block;
  animation: fadeMenu 3s forwards;
}
@keyframes fadeMenu {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-full ul {
  margin: 0;
  padding: 0;
  display: block;
}
.menu-full ul li {
  font-size: 30px;
  list-style-type: none;
  padding-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .menu-full ul li {
    font-size: 25px;
    padding-bottom: 15px;
  }
}
.menu-full ul li a {
  text-decoration: none;
}
.menu-full ul li a:hover {
  text-shadow: 0 0 5px #FF5C00, 0 0 10px #FF5C00, 0 0 15px #FF5C00;
  color: black;
}
.menu-full ul .studio {
  margin-top: 30px;
  font-size: 10px;
  color: black;
}
.menu-full ul img {
  height: 120px;
  margin-bottom: 45px;
}
.menu-full .cat {
  position: absolute;
  left: 5em;
  bottom: 8em;
  animation: floatCat 4s infinite ease-in-out;
}
.menu-full .catBlue {
  position: absolute;
  left: 20em;
  top: 8em;
  animation: floatCat 4s infinite ease-in-out;
}
@media screen and (min-width: 992px) and (max-width: 1150px) {
  .menu-full .catBlue {
    top: 10em;
  }
}
.menu-full .cat3 {
  position: absolute;
  bottom: 12em;
  right: 20em;
  animation: floatCat 4s infinite ease-in-out;
}
@keyframes floatCat {
  50% {
    transform: translateY(10px);
  }
}
@media screen and (min-width: 992px) and (max-width: 1150px) {
  .menu-full .cat3 {
    top: 22em;
  }
}
.menu-full .orchidMenu {
  position: absolute;
  left: -6em;
  top: 4em;
  animation: rotate 10s linear infinite;
}
.menu-full .flower {
  position: absolute;
  left: 15em;
  top: 21em;
  animation: rotate 10s linear infinite;
}
@media screen and (min-width: 992px) and (max-width: 1150px) {
  .menu-full .flower {
    top: 22em;
  }
}
.menu-full .sunFlower {
  position: absolute;
  top: 4em;
  right: 17em;
  animation: rotate 10s linear infinite;
}
@media screen and (min-width: 992px) and (max-width: 1150px) {
  .menu-full .sunFlower {
    right: 12em;
  }
}
.menu-full .litleFlower {
  position: absolute;
  bottom: 20em;
  right: -2em;
  animation: rotate 10s linear infinite;
  width: 60px;
}
.menu-full .hibisusMenu {
  bottom: -2em;
  position: absolute;
  right: -5em;
  animation: rotate 10s linear infinite;
}
@media screen and (max-width: 992px) {
  .menu-full .hibisusMenu,
  .menu-full .litleFlower,
  .menu-full .sunFlower,
  .menu-full .flower,
  .menu-full .cat,
  .menu-full .cat3,
  .menu-full .catBlue,
  .menu-full .orchidMenu {
    display: none;
  }
}

.story #place {
  background-image: url("../images_koukaki/Studio_Koukaki-image_place.png");
}
.story .cloudTop {
  top: 80px;
  right: 50px;
}
.story .cloudBottom {
  top: 270px;
  right: 350px;
}
.story .cloudScroll {
  position: absolute;
  filter: blur(13px);
}
.story .cloudScroll.visible {
  animation: scrollLeft 7s linear forwards; /* Vitesse de défilement et boucle infinie */
}
@keyframes scrollLeft {
  0% {
    transform: translateX(0); /* Début de l'animation, pas de décalage */
  }
  100% {
    transform: translateX(-300px); /* Fin de l'animation, decalage de 300px vers la gauche*/
  }
}

.banner {
  position: relative;
  height: 0;
}
.banner #background-video {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  animation: fade-in 4s;
}
@media screen and (max-width: 768px) {
  .banner #background-video {
    display: none;
  }
}
.banner .parallax-title {
  z-index: 2;
  animation: float 3s infinite ease-in-out;
  position: absolute;
  /* effet de flottement du titre*/
}
@keyframes float {
  50% {
    transform: translateY(10px);
  }
}

/* rotation des fleurs */
.story__article::after {
  animation: rotate 5s linear infinite;
}

.story h2::after {
  animation: rotate 5s linear infinite;
}

.site-footer::after {
  animation: rotate 5s linear infinite;
}
.site-footer ul::after {
  animation: rotate 5s linear infinite;
}
.site-footer::before {
  animation: rotate 5s linear infinite;
}

#studio h2::before {
  animation: rotate 5s linear infinite;
}
#studio h2::after {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 992px) {
  #studio h2::before,
  #studio h2::after,
  .site-footer::after,
  .site-footer::before,
  .story__article::after,
  .story h2::after {
    display: none;
  }
}
/* apparation des sections en fade-in */
.story {
  animation: fade-in 4s ease-in forwards;
  opacity: 0;
  overflow-x: hidden;
}
@keyframes fade-in {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#characters {
  animation: fadein-b 4s ease-in forwards;
  opacity: 0;
}
@keyframes fadein-b {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#colophon {
  animation: fadeB 4s ease-in forwards;
  opacity: 0;
}
@keyframes fadeB {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#place {
  animation: fadein-r 4s ease-in forwards;
  opacity: 0;
}
@keyframes fadein-r {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#studio {
  overflow: hidden;
  animation: fadein-t 4s ease-in forwards;
  opacity: 0;
}
@keyframes fadein-t {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
