@charset "UTF-8";
.main-characters {
  overflow-x: hidden;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
}

/* background section oscars */
.oscars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.oscars .txt-oscars {
  background-image: url("../images_koukaki/orange_characters_bg.png");
  background-size: 110%;
}
.title-span1,
.title-span2,
.title-span3 {
  display: inline-block;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 5s ease;
}

.title-span2.visible {
  transition-delay: 2s;
  animation: fadeY 3s forwards;
}

.title-span3.visible {
  transition-delay: 4s;
  animation: fadeY 6s forwards;
}

.title-span1.visible {
  transition-delay: 2s;
  animation: fadeY 3s forwards;
}

@keyframes fadeY {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.containerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80px;
  flex-wrap: wrap;
}
.containerNav a {
  text-align: center;
  font-size: 25px;
}
@media screen and (max-width: 640px) {
  .containerNav a {
    display: none;
  }
}

.burgerMenu {
  width: 50px;
  right: 60px;
  top: 30px;
  position: absolute;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .burgerMenu {
    position: static;
  }
}
.burgerMenu .line {
  width: 100%;
  height: 1.5px;
  margin-bottom: 5px;
  transition: all 0.15s linear;
}

.burgerMenu.active span.l2 {
  opacity: 0;
}
.burgerMenu.active span.l1 {
  transform: rotate(45deg) translate(6px, 3px);
}
.burgerMenu.active span.l3 {
  transform: rotate(-45deg) translate(6px, -3px);
}

.menu-full {
  display: none;
  text-align: center;
  padding-top: 25px;
  background: #FFF5E9;
  z-index: 1;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease, transform 5s ease;
  height: 100vh;
}
.menu-full.active {
  display: block;
  animation: fadeMenu 3s forwards;
}
@keyframes fadeMenu {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-full ul {
  margin: 0;
  padding: 0;
  display: block;
}
.menu-full ul li {
  font-size: 50px;
  list-style-type: none;
  padding-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .menu-full ul li {
    font-size: 30px;
    padding-bottom: 20px;
  }
}
.menu-full ul li a {
  text-decoration: none;
}
.menu-full ul li a:hover {
  text-shadow: 0 0 5px #FF5C00, 0 0 10px #FF5C00, 0 0 15px #FF5C00;
  color: black;
}
.menu-full ul .studio {
  margin-top: 100px;
  font-size: 15px;
  color: black;
}
.menu-full ul img {
  height: 140px;
  margin-bottom: 80px;
}
.menu-full .orchidMenu {
  position: absolute;
  left: 0;
  top: 100PX;
  animation: rotate 10s linear infinite;
}
.menu-full .cat {
  position: absolute;
  left: 80px;
  bottom: 170px;
  animation: floatCat 5s infinite ease-in-out;
  transition: top 0.3 ease;
}
.menu-full .catBlue {
  position: absolute;
  left: 340px;
  top: 200px;
  animation: floatCat 4s infinite ease-in-out;
  transition: top 0.3 ease;
}
.menu-full .cat3 {
  position: absolute;
  bottom: 350px;
  right: 250px;
  animation: floatCat 4s infinite ease-in-out;
  transition: top 0.3 ease;
}
@keyframes floatCat {
  50% {
    transform: translateY(10px);
  }
}
.menu-full .flower {
  position: absolute;
  left: 250px;
  bottom: 400px;
  animation: rotate 10s linear infinite;
}
.menu-full .sunFlower {
  position: absolute;
  top: 100px;
  right: 170px;
  animation: rotate 10s linear infinite;
}
.menu-full .litleFlower {
  position: absolute;
  bottom: 450px;
  right: 0;
  animation: rotate 10s linear infinite;
  width: 60px;
}
.menu-full .hibisusMenu {
  bottom: 0;
  position: absolute;
  right: 0;
  animation: rotate 10s linear infinite;
}
@media screen and (max-width: 992px) {
  .menu-full .hibisusMenu,
  .menu-full .litleFlower,
  .menu-full .sunFlower,
  .menu-full .flower,
  .menu-full .cat,
  .menu-full .cat3,
  .menu-full .catBlue,
  .menu-full .orchidMenu {
    display: none;
  }
}

.banner {
  position: relative;
  background-size: cover;
}
.banner #background-video {
  position: relative;
  z-index: 1;
  width: 100%;
  top: 0;
  animation: fade-in 4s;
  background-size: cover;
}
@media screen and (max-width: 992px) {
  .banner #background-video {
    display: none;
  }
}

.parallax-title {
  z-index: 2;
  animation: float 3s infinite ease-in-out;
  position: absolute;
  transition: top 0.3 ease;
}

/* effet de flottement du titre*/
@keyframes float {
  50% {
    transform: translateY(10px);
  }
}
/* rotation des fleurs */
.story__article::after {
  animation: rotate 5s linear infinite;
}

.story h2::after {
  animation: rotate 5s linear infinite;
}

.site-footer::after {
  animation: rotate 5s linear infinite;
}

.site-footer ul::after {
  animation: rotate 5s linear infinite;
}

.site-footer::before {
  animation: rotate 5s linear infinite;
}

#studio h2::before {
  animation: rotate 5s linear infinite;
}

#studio h2::after {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 992px) {
  #studio h2::before,
  .site-footer::after {
    display: none;
  }
}
/* apparation des sections en fade-in */
.story {
  animation: fade-in 4s ease-in forwards;
  opacity: 0;
}

#characters {
  animation: fadein-b 4s ease-in forwards;
  opacity: 0;
}

#colophon {
  animation: fadeB 4s ease-in forwards;
  opacity: 0;
}

#place {
  animation: fadein-r 4s ease-in forwards;
  opacity: 0;
}

#studio {
  animation: fadein-t 4s ease-in forwards;
  opacity: 0;
}

@keyframes fade-in {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadein-r {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadein-t {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadein-b {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeB {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.cloudTop {
  top: 80px;
  left: 600px;
}

.cloudBottom {
  top: 270px;
  left: 350px;
}

.cloudScroll {
  position: absolute;
  transform: translateX(0);
  transition: transform 5s ease;
  filter: blur(13px);
}
.cloudScroll.visible {
  animation: scrollLeft 5s linear forwards; /* Vitesse de défilement et boucle infinie */
}
@keyframes scrollLeft {
  0% {
    transform: translateX(0); /* Début de l'animation, pas de décalage */
  }
  100% {
    transform: translateX(300px); /* Fin de l'animation, décalage de -300px vers la gauche */
  }
}

.story #place {
  background-image: url("../images_koukaki/Studio_Koukaki-image_place.png");
}

/*# sourceMappingURL=main.css.map */
