@import 'swiper';
@import 'oscars';
@import'title';
@import 'burger';

.banner {
    position: relative;
    background-size: cover;
    animation: fade-in 4s;
    

    #background-video{
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 0px;
        bottom: 0px;
    }
    .parallax-title {
        z-index: 2;
        animation: float 3s infinite ease-in-out;
        position: absolute;
        transition: top 0.3 ease;

    }
}

/* effet de flottement du titre*/ 
@keyframes float {
   
    50%{
        transform: translateY(10px);
    }
    
}

/* rotation des fleurs */
.story__article::after {
    animation: rotate 5s linear infinite;
}

.story h2::after {
    animation: rotate 5s linear infinite;

}
.site-footer::after{
    animation: rotate 5s linear infinite;
}

.site-footer ul::after{
    animation: rotate 5s linear infinite; 
}
.site-footer::before {
    animation: rotate 5s linear infinite;  

}
#studio h2::before {
    animation: rotate 5s linear infinite;
}

#studio h2::after {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

 
  


/* apparation des sections en fade-in */
.story {
    animation : fade-in 4s ease-in forwards; 

    opacity: 0;
}

#characters {
    animation: fadein-b 4s ease-in forwards;
    opacity: 0;

}

#place {
    animation: fadein-r 4s ease-in forwards;
    opacity: 0;
}

#studio {
    animation: fadein-t 4s ease-in forwards;
    opacity: 0;
}

@keyframes fade-in {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadein-r {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }

}
@keyframes fadein-t {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadein-b {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



 
 

  
  
  
  
  
  
  




