/* background section oscars */
.oscars {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


.txt-oscars {
    background-image: url('../images_koukaki/orange_characters_bg.png');
    background-size: 110%;
   
    @media screen and (max-width: 800px) {
        
      

      }

    }
    
        
    }
   
   
    

