

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 80%;

    .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
   
    img {
      display: block;
      width: 100%;
      height: 350px;

    }
    }

    
   
}
.story #characters .other-characters figure{
  width: 100%;
  padding: 0;
 
}


