    .title-span1,
    .title-span2,
    .title-span3 {
        display: inline-block;
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 1s ease, transform  5s ease;
      }
    
    .title-span2.visible {
        transition-delay: 2s;
        animation: fadeY 3s forwards;
      }
    
    .title-span3.visible {
    
        transition-delay: 4s;
        animation: fadeY 6s forwards;
      }
    
    .title-span1.visible {
       
        transition-delay: 2s;
        animation: fadeY 3s forwards;
      }

      @keyframes fadeY {
        from {
          opacity: 0;
        transform: translateY(100px);
      }
        to{
        opacity: 1;
          transform: translateY(0);

        }
      }

      
    
    
    
    
    
    
    
    
      
    
      
    
    
    
    
    
    